<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ hostname }} - VLC Control</title>
    <link rel="icon" type="image/png" href="/static/favicon_nocolor.png">
    <style>
        body {
            background-color: #000;
            color: #777;
            font-family: monospace;
        }
        #output {
            white-space: pre-wrap; /* Maintains whitespace formatting. */
            background: #111;
            padding: 10px;
            border: 1px solid #ddd;
            margin-top: 20px;
            height: 300px;
            overflow-y: auto;
        }
        button {
            cursor: pointer;
            padding: 10px 20px;
            margin-top: 10px;
            background-color: #4C50AF;
            color: white; 
            border: none;
            border-radius: 5px;
            font-weight: bold;
        }
        #windowTitle {
          font-weight: bold;
          /*font-size: 1.5em;*/
        }
        #favicon {
          height: 32px;
          width: 32px;
        }
    </style>
    <script>
        'use strict';
        const stripAnsiControlCodes = (input) => {
          return input.replace(/\x1B[@-_][0-?]*[ -/]*[@-~]/g,'')
        }

        function handleBTStream(event) {
          const outputDiv = document.getElementById('output');
          outputDiv.innerHTML += stripAnsiControlCodes(event.data) + '<br>';
          outputDiv.scrollTop = outputDiv.scrollHeight;
        }

        function changeFavicon(src) {
            let link = document.querySelector("link[rel~='icon']");
            if (!link) {
                link = document.createElement('link');
                link.rel = 'icon';
                document.getElementsByTagName('head')[0].appendChild(link);
            }
            link.href = src;
        }
        
        document.addEventListener("DOMContentLoaded", function() {
          fetchVolume();

          document.getElementById("start").addEventListener("click", async () =>  {
            const resp = await fetch('/vlc/start')
            const result = await resp.json()
            document.querySelector("#vlcstatus").innerText = result.status;
            setTimeout(()=>{
              updateVLCStatus();
              fetchVolume();
            }, 3000);
          });

          document.getElementById("stop").addEventListener("click", async () => {
            const resp = await fetch('/vlc/stop')
            const result = await resp.json()
            document.querySelector("#vlcstatus").innerText = result.status;
            setTimeout(()=>{
              updateVLCStatus();
              fetchVolume();
            }, 3000);
          });

          document.getElementById("volup").addEventListener("click", function() {
            fetch('/alsa/volup').then(response => response.json()).then(data => {
              fetchVolume();  // Update volume display after change
            });
          });

          document.getElementById("voldown").addEventListener("click", function() {
            fetch('/alsa/voldown').then(response => response.json()).then(data => {
              fetchVolume();  // Update volume display after change
            });
          });

          document.getElementById("bton").addEventListener("click", function() {
            //stopScan();
            let evn = new EventSource("/bt/on");
            evn.addEventListener('stream_ended', ()=>{
              console.log('bton stream_ended event');
              evn.close();
              updateBTStatus();
            });
            evn.onmessage = handleBTStream;
            evn.onerror = function() {
                console.log('onerror event');
            };
            //updateButton();
          });

          document.getElementById("btoff").addEventListener("click", function() {
            //stopScan();
            let evn = new EventSource("/bt/off");
            evn.addEventListener('stream_ended', ()=>{
              console.log('btoff stream_ended event');
              evn.close();
              updateBTStatus();
            });
            evn.onmessage = handleBTStream;
            evn.onerror = ()=>{
              console.log('onerror event');
            };
          });
          document.getElementById("shutdown").addEventListener('click', ()=>{
            const token = 'SHUTDOWN';
            if(!confirm('Shutdown the system?')){
              return;
            }
            fetch(`/system/shutdown`, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
              },
              body: new URLSearchParams({
                'token': token
              })
            })
            .then(response => response.json())
            .then(data => {
              if (data.error) {
                alert(`Error: ${data.error}`);
              } else {
                alert(data.status);
              }
            })
            .catch(error => console.error('Error:', error));
          });

          document.getElementById("reboot").addEventListener('click', ()=>{
            const token = 'REBOOT';
            if(!confirm('Reboot the system?')){
              return;
            }
            fetch(`/system/reboot`, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
              },
              body: new URLSearchParams({
                'token': token
              })
            })
            .then(response => response.json())
            .then(data => {
              if (data.error) {
                alert(`Error: ${data.error}`);
              } else {
                alert(data.status);
              }
            })
            .catch(error => console.error('Error:', error));
          });

        });

        function fetchVolume() {
            fetch('/alsa/vol').then(response => response.json())
            .then(data => {
                if (data.volume) {
                    document.getElementById("currentVolume").innerText = 'Current Volume: ' + data.volume;
                } else {
                    alert(data.error);
                }
            });
        }

        let isScanning = false;
        let eventSource;

        function updateButton() {
            const btn = document.getElementById('scanBtn');
            if (isScanning) {
                btn.textContent = 'Stop Scan';
            } else {
                btn.textContent = 'Start Scan';
            }
        }

        function handleScanData(event) {
            const outputDiv = document.getElementById('output');
            outputDiv.innerHTML += event.data;
            outputDiv.scrollTop = outputDiv.scrollHeight;
        }

        function startScan() {
            // Start the scan and handle the stream
            eventSource = new EventSource("/bt/scan");
            eventSource.addEventListener('stream_ended', ()=>{
              console.log('scan stream_ended event');
              eventSource.close();
              stopScan();
            });
            eventSource.onmessage = handleScanData;
            eventSource.onerror = function() {
                console.log('onerror event');
                stopScan(); // Stop scan on error
            };
            isScanning = true;
            updateButton();
        }

        function stopScan() {
            if (eventSource) {
                eventSource.close();
            }
            isScanning = false;
            updateButton();
        }

        function toggleScan() {
            if (isScanning) {
                stopScan();
            } else {
                startScan();
            }
        }

        const updateVLCStatus = async () => {
          const resp = await fetch('/vlc/status');
          const result = await resp.json();
          document.querySelector('#vlcstatus').innerText = result.status;
          if(result.status.toLowerCase().indexOf('playing') > -1){
            document.querySelector('#favicon').src = '/static/favicon.png';
            changeFavicon('/static/favicon.png');
          } else {
            document.querySelector('#favicon').src = '/static/favicon_nocolor.png';
            changeFavicon('/static/favicon_nocolor.png');
          }
        }

        function fetchLoadAverages() {
          fetch('/system/lavg')
            .then(response => response.json())
            .then(data => {
              document.getElementById('loadAverages').innerHTML =
                '[' + data['1_min'].toFixed(2) + ', ' +
                data['5_min'].toFixed(2) + ', ' +
                data['15_min'].toFixed(2) + ']';
              })
            .catch(error => {
              console.error('Error fetching load averages:', error);
              document.getElementById('loadAverages').innerHTML = 'Failed to load data.';
              });
        }

        setInterval(updateVLCStatus, 10000);
        setInterval(fetchLoadAverages, 10000);
        updateVLCStatus();
        fetchLoadAverages();

        const updateTitle = async () => {
          const resp = await fetch('/window-title');
          const title = await resp.json();
          document.querySelector('#windowTitle').innerText = `${title}`;
        };
        updateTitle();
        setInterval(updateTitle, 30000);

        const getBTStatus = async ()=> {
          const resp = await fetch('/bt/status');
          const result = await resp.json();
          const powered_on = result.message;
          return powered_on;
        };

        const updateBTStatus = async () => {
          let powered = await getBTStatus();
          document.querySelector("#btstatus").innerText = powered;
        }

       updateBTStatus();
    </script>
</head>
<body>
    <h1><img id="favicon">{{ hostname }} - VLC Control</h1>
    <div id="systemInfo">
      <div id="windowTitle"></div>
      <div id="loadAverages"></div>
      <div id="currentVolume">Current Volume: Loading...</div>
    </div>
    <br>
    <div id="vlcstatus"></div>
    <div>
        <button id="start">Start VLC</button>
        <button id="stop">Stop VLC</button>
    </div>
    <div>
        <button id="volup">Volume Up</button>
        <button id="voldown">Volume Down</button>
    </div>
    <br>
    <div id="btstatus"></div>
    <div>
        <button id="bton">Bluetooth On</button>
        <button id="scanBtn" onclick="toggleScan()">Start Scan</button>
        <button id="btoff">Bluetooth Off</button>
    <div id="output"></div>
    <div>
        <button id="shutdown">Shutdown</button>
        <button id="reboot">Reboot</button>
    </div>
</body>
</html>
